.navbar {
    grid-area: n;
    display: grid;
    grid-template-columns: repeat(6, calc(100vw/6));
    position: fixed;
    height: 80px;
    z-index: 10;
    background-color: skyblue;
    font-size: min(24px, 2.5vw)
}

a, .navbar span {
    display: grid;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: palevioletred;
    padding: 20px;
    height: 40px;
}

.navbar a:hover, .menuName:hover {
    transition: 0.2s;
    font-weight: bolder;
    background-color: white;
    cursor: pointer;
    /* box-shadow: 0 0 5px 10px wheat; */
}

.navbar .active {
    background-color: wheat;
    /* box-shadow: 0 0 5px 10px wheat; */
    font-weight: bolder;
}


.menu ul {
    background-color: skyblue;
    position: absolute;
    top: 80px;
    z-index: 12;
    width: calc(100vw/6);
    margin: 0;
    display: none;
    list-style: none;
    padding: 0;
}

.show {
    display: block;
}