body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: linear-gradient(to top left, red, darkorange, yellow, forestgreen, deepskyblue, blue, purple);*/
  /*background-color: powderblue;*/
  background:
          repeating-linear-gradient(
                  transparent,transparent 30px, skyblue 32px
          ),
          repeating-linear-gradient(
                  90deg,
                  transparent,transparent 30px, skyblue 32px
          );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
